<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="MonoAndroid50" />
  <package id="rda.SocketsForPCL" version="1.1.7" targetFramework="MonoAndroid50" />
  <package id="Zyan" version="2.6" targetFramework="MonoAndroid50" />
</packages>